.home-section{
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 93vh;
}

.hero-png{
    width: 35vw;
}

.hero-text{
    margin-bottom: 5rem;
}

.hero-text h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.hero-text p {
    max-width: 556px;
}

/* 
---------------- table section ---------------- 
*/

.home-section h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.home-coin-table table, th, td{
    border-bottom: 1px solid white;
    padding: 1rem;
    border-collapse: collapse;
    text-align: start;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.home-coin-table{
    margin: 0 2rem;
}

.home-coin-table th{
    background-color: yellow;
    color: black;
}

.home-coin-table th, td{
    width: 256px;
}

.coin-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.green{
    color: rgb(44, 212, 44);
}

.red{
    color: rgb(203, 75, 75);
}

/* ================ BREAKPOINS ===============*/
/* For large devices  */
@media screen and (max-width: 992px) {
    .hero-png{
        width: 50vh;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .hero{
        gap: 0rem;
    }
    .hero-png{
        width: 45vh;
    }

    .hero-text{
        margin: 0 1rem 7rem 1rem;
    }
    .hero-text h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    /* 
    ---------------- table section ---------------- 
    */
    .home-section h2{
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
    }

    .home-coin-table td{
        font-size: 1rem;
    }

    .coin-name {
        gap: 0.5rem;
    }
  }
  
  @media screen and (max-width: 576px) {
      /* 
    ---------------- table section ---------------- 
    */
    .home-section h2{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }

    .home-coin-table{
        margin: 0 1rem;
    }

    .market-cap{
        display: none;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
  
  }