*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .container{
        margin-top: 1rem;
    }

    .container-bottom{
        margin-bottom: 4rem;
    }
  }