*{
    margin: 0;
    padding: 0;
}

.bgColor{
    background-color: #EFF5F5;
}

.container{
    margin-top: 4rem;
}

.active{
    color: yellow;
}

@media screen and (max-width: 768px) {
    .container{
        margin-top: 0;
    }

    .container-bottom{
        margin-bottom: 4rem;
    }
  }