*{
    margin: 0;
    padding: 0;
}

.bgColor{
    background-color: rgb(43, 43, 43);
}

.container{
    margin-top: 4rem;
}



@media screen and (max-width: 768px) {
    .container{
        margin-top: 0;
    }

    .container-bottom{
        margin-bottom: 4rem;
    }
  }